a {
    text-decoration: none;
    &:hover, &:active, &:visited, a:focus, a:link {
        text-decoration: none;
    }
    &:-webkit-any-link{
        text-decoration:none;
    }
}

.home {
    margin: 70px 0 0;
}
footer {
    background: url("/images/bg_contact-us.jpg") no-repeat scroll center top #282826;
}
