.contact {
    h2 {
        color: #fff;
        margin-bottom: 0;
        &:after {
            background: #2C2C2A;
        }
    }
    &-form {
        padding-top: 7%;
        &-fields {
            margin-bottom: 2em;
            &.form-input {
                &.input-lg {
                    font-size: 0.64rem;
                }
            }
        }
    }
    .btn-transparent {
        background: none;
        &:hover, &:active, &:focus {
            background: $primary-color;
            color: #fff;
        }
    }
}
