a {
    text-decoration: none;
    &:hover, &:active, &:visited, a:focus, a:link {
        text-decoration: none;
    }
    &:-webkit-any-link{
        text-decoration:none;
    }
}

.home {
    margin: 70px 0 0;
}

footer {
    background: url("/images/bg_contact-us.jpg") no-repeat scroll center bottom #F7F7F7;
    @media only screen and (min-width: $size-xl) {
        background-size: 100%;
    }
}

/**
 * $size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;
 */
