//do something @ 829
.navbar {
    margin: 0;
    &-brand {
        height: auto;
    }
    &-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            padding: 0;
            margin: 0;
            a {
                position: relative;
                padding: 25px 10px;
                display: block;
                color: $dark-color;
            }
            &:last-child {
                a {
                    margin: 15px 0 15px 20px;
                }
            }
        }
        li:not(:last-child) {
            a {
                &:active, &:focus, &.active {
                    color: $primary-color;
                    z-index: 1;
                    &:after {
                        width: 60%;
                        opacity: 1;
                        z-index: -10;
                        animation: fill .5s forwards;
                        opacity: 1;
                    }
                }
                &:active, &:focus, &.active {
                    color: $primary-color;
                    z-index: 1;
                    &:after {
                        width: 60%;
                        opacity: 1;
                        z-index: -10;
                        animation: fill .2s forwards;
                        opacity: 1;
                    }
                }
                &:after {
                    transition: all .5s;
                    position: absolute;
                    border-radius: 10px;
                    bottom: 20%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: ".";
                    color: transparent;
                    background: $primary-color;
                    height: 3px;
                }
            }
        }
    }
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    height: 70px;
}
.navbar {
    @media only screen and (max-width: 970px) {
        display: block;
    }
    .navbar-section {
        flex: auto;
        @media only screen and (max-width: 970px) {
            display: block;
        }
    }
    .brand-section {

        @media only screen and (max-width: $size-md) {
            height: 70px;
            padding: 2% 3%;
            a.navbar-brand {
                float: left;
                margin: 0;
            }
            a.hamburger {
                float: right;
            }
            position: relative;
            margin-left: -10px;
            margin-right: -10px;
            z-index: 999;
            background: #fff;
        }
        @media only screen and (max-width: $size-xs) {
            padding: 2% 4%;
            a.navbar-brand {
                img {
                    width: 70%;
                }
                padding: 12px 0;
            }
            a.hamburger {
                margin: 10px 0;
                font-size: 0.8rem;
                height: auto;
                padding: 5px 8px;
            }
        }
    }
    .mobile-menu {
        background: #fff;
        z-index: 888;
        margin-left: -10px;
        margin-right: -10px;
        position: relative;
        ul {
            li:last-child {
                padding-bottom: 3%;
            }
        }
    }
    &-menu {
        li {
            &:last-child {
                @media only screen and (max-width: $size-lg) {
                    float: none;
                }
                a {
                    margin: 15px 0 15px 0px;
                }
            }
        }
        li:not(:last-child) {
            @media only screen and (max-width: $size-lg) {
                float: none;
            }
            a {
                @media only screen and (max-width: $size-lg) {
                    &:after {
                        transition: all .5s;
                        position: absolute;
                        border-radius: 10px;
                        bottom: 0;
                        left: 0;
                        right: auto;
                        margin: auto;
                        width: 0%;
                        content: ".";
                        color: transparent;
                        background: $primary-color;
                        height: 3px;
                    }
                    &:active, &:focus, &.active {
                        color: $primary-color;
                        z-index: 1;
                        &:after {
                            width: 100%;
                            opacity: 1;
                            z-index: -10;
                            animation: fill .5s forwards;
                            opacity: 1;
                        }
                    }
                }
                @media only screen and (max-width: 970px) {
                    font-size: 12px;
                    padding: 30px 10px;
                }
            }

        }
    }
}

.mobilenav-enter {
	animation: slideDown 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mobilenav-leave {
	animation: slideUp 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


@keyframes slideDown {
  from {
    transform: translate3d(0, -300px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -700px, 0);
  }
}
