//do something @ 829
.navbar {
    margin: 0;
    &-brand {
        height: auto;
    }
    &-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            padding: 0;
            margin: 0;
            a {
                padding: 25px 10px;
                display: block;
                color: $dark-color;
                &:hover, &:active, &:focus {
                    color: $primary-color;
                }
            }
        }
    }
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
}
