.sticky-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 2%;
    margin: auto 0;
    height: 1px;
    z-index: 1000;
    ul {
        list-style: none;
        li {
            a {
                display: block;
                padding: 5px 0;
                color: #ccc;
                &:active, &:focus, &:hover {
                    color: $primary-color;
                }
            }

        }
    }

}
